.button {
    font: inherit;
    border: 1px solid #a2d2ff;
    background: #a2d2ff;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #ffc8dd;
    border-color: #ffc8dd;
  }
  
  .button:focus {
    outline: none;
  }